<h1>Orders</h1>

<div id="orders" class="container-fluid">
  <div class="row row-cols-3">
    <% @orders.each do |order| %>
      <%= render order %>
    <% end %>
    <%= render "delete_modal" %>
  </div>
</div>

<%= link_to "New order", new_order_path, class: "btn btn-primary" %>
